.row {
    width: 100%;
    padding: 15px;
}

.movie {
    height: 50px;
    border: 2px solid black;
}

.movie p {
    line-height: 48px;
    margin: 0 ;
}

.delete p{
    line-height: 48px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
}

.delete:hover {
    color: red;
}
